<div class="container">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="card green top">
			<h1><i class="fa fa-check"></i>Success!</h1>

			<div>
				<div class="text">
					<h2>Your account was created</h2>
					<p>Get the iOS app to start trading. Just enter your McDaniel username when you start the app.</p>
				</div>
			</div>
		</div>
	</div>
</div>