<div class="container">
	<div class="col-xs-12 col-md-6 col-md-offset-3">
		<div class="card green top">
			<h1><i class="fa fa-book"></i>Welcome!</h1>

			<div>
				<div class="text">
					<h2>Sign up today!</h2>
					<p>Please sign up with your McDaniel Google credentials to begin trading your textbooks</p>
					<center>
						<a href="/auth/google_oauth2" class="btn blue"><i class="fa fa-user-plus"></i>sign in</a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>